/** @jsx React.DOM */

var React = require('react');
var {{exposedComponent}} = React.createFactory(require('../../lib/index'));

var appElement = document.getElementById('example');

var App = React.createClass({

  render: function() {
    return (
      <div>
        <{{exposedComponent}} />
      </div>
    );
  }
});

var Application = React.createFactory(App);
React.render(<Application />, appElement);
