import React, {Component} from 'react';
import {{exposedComponent}} from '../../lib/main';

class App extends Component {
  render() {
    return (
      <div className="example">
        <h1>{{name}}</h1>
        <{{exposedComponent}}/>
      </div>
    );
  }
}

React.render(<App/>, document.getElementById('container'));
