import React from 'react';
import {{exposedComponent}} from '../../lib/main';

var App = React.createClass({
  render() {
    return (
      <div className="example">
        <h1>{{name}}</h1>
        <{{exposedComponent}}/>
      </div>
    );
  }
});

React.render(<App/>, document.getElementById('container'));
