/** @jsx React.DOM */

var React = require('react');

var {{exposedComponent}} = module.exports = React.createClass({

  render: function() {
    return (
      <div>
        {{exposedComponent}}
      </div>
    );
  }

});
